<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229394620772-4be4gm72or4n8tp6mer5fbklmcc08n58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229394620772-4be4gm72or4n8tp6mer5fbklmcc08n58</string>
	<key>API_KEY</key>
	<string>AIzaSyBczVXcP7AcBzyKV_76G53BUNBY0cFbTaw</string>
	<key>GCM_SENDER_ID</key>
	<string>229394620772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>scarlettvu.FirebaseAuthentication-SignInApp</string>
	<key>PROJECT_ID</key>
	<string>signin-2d90e</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-2d90e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229394620772:ios:d0e2976a84c16b34731a71</string>
</dict>
</plist>